.pdxWraper {
  display: flex;
}
.apiRight {
  padding: 0 20px;
}
.apiRow,
.apiRowObj {
  display: flex;
  flex-direction: column;
}
.apiObjBox {
  display: flex;
}
ul#pdxApiOldContainer {
  max-height: 500px;
  overflow: auto;
  width: 270px;
}
input#pdxApiSubmit {
  position: fixed;
  right: 42px;
  bottom: 65px;
}
